<main class="dashboard-container">

  <div class="data clients">
    <h2>Treinos estabelecidos</h2>
    <div class="data-info">
      <i class="ph ph-users"></i>
      <span>{{workoutsCount}}</span>
    </div>
  </div>

  <div class="data meansurements">
    <h2>Ultima medição</h2>
    <div class="data-info">
      <i class="ph ph-scales"></i>
      <span>{{lastMeansurement}}</span>
    </div>
  </div>

  <div class="data calendar">
    <h2>Calendário</h2>
    <div id="calendar"></div>
  </div>

</main>