<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <title>Atlas GYM</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/libs/swiper/swiper-bundle.min.css">
  <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <header class="header">
    <img src="/img/landing/logo.png" class="logo" alt="logo" width="60" height="30">

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
      <a href="#home" class="active">home</a>
      <a href="#about">aproveite-já</a>
      <a href="#services">Planos</a>
      <a href="#promocoes">Serviços</a>
      <a href="#depoimentos">FeedBacks</a>
    </nav>
  </header>

  <!--home section design-->
  <section class="home" id="home">
    <div class="home-content">
      <h1>Atlas Gym, sua força se torna lendária.</h1>
      <p>Desperte o herói dentro de você, e alcance novos patamares!</p>
      <div class="btn-container">
        <a href="#" class="btn-contact">Entre em Contato</a>
        <a href="/login" class="btn">Participe Já</a>
      </div>
    </div>
  </section>

  <!--UTILIZAR section design-->
  <section class="about" id="about">
    <div class="about-img">
      <img src="/img/landing/about-image.jpg" alt="">
    </div>

    <div class="about-content">
      <h2 class="heading">Não perca mais <span>Tempo</span></h2>
      <p> Faça parte da Atlas GYM e descubra uma jornada de transformação! Com instrutores dedicados, uma
        variedade de programas e uma comunidade solidária, você alcançará seus objetivos de fitness de maneira
        eficaz e divertida. Venha se juntar a nós e descubra o que é possível quando você se compromete com sua
        saúde e bem-estar!</p>

    </div>
  </section>

  <!--BENEFÍCIOS section design-->
  <section class="services" id="services">
    <h2 class="heading">Confira os <span>nossos planos</span></h2>
    <div class="pricing-table">
      <div class="plan">
        <h2>Plano Básico</h2>
        <p class="price">R$ 50/mês</p>
        <ul>
          <li>Acesso à academia</li>
          <li>Aulas em grupo</li>
          <li>Suporte limitado</li>
        </ul>
        <a href="#" class="signup-btn">Assinar</a>
      </div>
      <div class="plan featured">
        <h2>Plano Padrão</h2>
        <p class="price">R$ 75/mês</p>
        <ul>
          <li>Acesso à academia</li>
          <li>Aulas em grupo</li>
          <li>Personal Trainer</li>
          <li>Suporte completo</li>
        </ul>
        <a href="#" class="signup-btn">Assinar</a>
      </div>
      <div class="plan">
        <h2>Plano Premium</h2>
        <p class="price">R$ 100/mês</p>
        <ul>
          <li>Acesso total</li>
          <li>Aulas exclusivas</li>
          <li>Personal Trainer dedicado</li>
          <li>Acesso a spa e sauna</li>
          <li>Suporte 24/7</li>
        </ul>
        <a href="#" class="signup-btn">Assinar</a>
      </div>
    </div>

  </section>

  <!--Destaques section design-->
  <section class="promocoes" id="promocoes">
    <h2 class="heading">Veja os <span>nossos serviços</span></h2>

    <div class="promocoes-container">
      <div class="promocoes-box">
        <img src="/img/landing/crossfit.jpg" alt="1">
        <div class="promocoes-layer">
          <h4>Crossfit</h4>
          <p>Desafie seus limites e supere obstáculos com o CrossFit na Atlas GYM!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="promocoes-box">
        <img src="/img/landing/boxe.jpg" alt="2">
        <div class="promocoes-layer">
          <h4>Boxe</h4>
          <p>Desperte o lutador em você no ringue do Boxe Atlas GYM!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="promocoes-box">
        <img src="/img/landing/musculacao.jpg" alt="3">
        <div class="promocoes-layer">
          <h4>Musculação</h4>
          <p>Transforme músculos em poder na nossa área de Musculação.</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="promocoes-box">
        <img src="/img/landing/cardio.jpg" alt="4">
        <div class="promocoes-layer">
          <h4>Cardio</h4>
          <p>Quebre o suor e fortaleça seu coração no treino de Cardio.</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="promocoes-box">
        <img src="/img/landing/zumba.jpg" alt="5">
        <div class="promocoes-layer">
          <h4>Zumba</h4>
          <p>Dance, queime calorias e divirta-se com a Zumba na Atlas GYM!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>

      <div class="promocoes-box">
        <img src="/img/landing/natação.jpg" alt="6">
        <div class="promocoes-layer">
          <h4>Natação</h4>
          <p>Domine as águas e alcance novos horizontes com a Natação na Atlas GYM!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
    </div>
  </section>

  <!--section depoimentos desgin-->

  <section class="depoimentos" id="depoimentos">
    <h2 class="heading">Confira os <span>FeedBacks</span></h2>

    <!-- card1 -->
    <div class="testimonial mySwiper">
      <div class="testi-content swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="/img/landing/psicologo.jpg" alt="" class="image">
          <!-- estrelinhas -->
          <div class="rating">
            <input value="5" name="rating" id="star5" type="radio">
            <label for="star5"></label>
            <input value="4" name="rating" id="star4" type="radio">
            <label for="star4"></label>
            <input value="3" name="rating" id="star3" type="radio">
            <label for="star3"></label>
            <input value="2" name="rating" id="star2" type="radio">
            <label for="star2"></label>
            <input value="1" name="rating" id="star1" type="radio">
            <label for="star1"></label>
          </div>
          <!-- fim do código -->
          <p>Olá pessoal! Sou o Pedro Oliveira e estou aqui para contar como a Atlas GYM mudou minha vida.
            Desde que me tornei membro, descobri uma paixão pela musculação que nunca soube que tinha. Os
            treinadores são incríveis e o ambiente motivador me faz querer estar lá todos os dias!</p>
          <i class='bx bxs-quote-alt-left quote-icon'></i>
          <div class="details">
            <span class="name">Pedro Oliveira</span>
            <span class="job">Psicólogo</span>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="/img/landing/advogada.jpg" alt="" class="image">
          <!-- estrelinhas -->
          <div class="rating">
            <input value="5" name="rating" id="star5" type="radio">
            <label for="star5"></label>
            <input value="4" name="rating" id="star4" type="radio">
            <label for="star4"></label>
            <input value="3" name="rating" id="star3" type="radio">
            <label for="star3"></label>
            <input value="2" name="rating" id="star2" type="radio">
            <label for="star2"></label>
            <input value="1" name="rating" id="star1" type="radio">
            <label for="star1"></label>
          </div>
          <!-- fim do código -->
          <p>E aí galera! Me chamo Ana Silva e preciso compartilhar como a Atlas GYM me ajudou a superar meus
            limites. Com suas aulas de CrossFit desafiadoras e a comunidade acolhedora, eu me sinto mais
            forte e confiante a cada sessão de treino. Definitivamente, não trocaria essa academia por nada!
          </p>
          <i class='bx bxs-quote-alt-left quote-icon'></i>
          <div class="details">
            <span class="name">Ana Silva</span>
            <span class="job">Advogada</span>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="/img/landing/arquiteto.jpg" alt="" class="image">
          <!-- estrelinhas -->
          <div class="rating">
            <input value="5" name="rating" id="star5" type="radio">
            <label for="star5"></label>
            <input value="4" name="rating" id="star4" type="radio">
            <label for="star4"></label>
            <input value="3" name="rating" id="star3" type="radio">
            <label for="star3"></label>
            <input value="2" name="rating" id="star2" type="radio">
            <label for="star2"></label>
            <input value="1" name="rating" id="star1" type="radio">
            <label for="star1"></label>
          </div>
          <!-- fim do código -->
          <p>Hey pessoal! Aqui é o Rafael Santos e não poderia deixar de expressar minha gratidão à Atlas GYM.
            Com suas aulas de Boxe intensas e instrutores dedicados, eu não apenas melhorei minha forma
            física, mas também encontrei uma nova paixão. É incrível como uma academia pode transformar
            vidas!</p>
          <i class='bx bxs-quote-alt-left quote-icon'></i>
          <div class="details">
            <span class="name">Rafael Santos</span>
            <span class="job">Arquiteto</span>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="/img/landing/professora.jpg" alt="" class="image">
          <!-- estrelinhas -->
          <div class="rating">
            <input value="5" name="rating" id="star5" type="radio">
            <label for="star5"></label>
            <input value="4" name="rating" id="star4" type="radio">
            <label for="star4"></label>
            <input value="3" name="rating" id="star3" type="radio">
            <label for="star3"></label>
            <input value="2" name="rating" id="star2" type="radio">
            <label for="star2"></label>
            <input value="1" name="rating" id="star1" type="radio">
            <label for="star1"></label>
          </div>
          <!-- fim do código -->
          <p>E aí, galera fitness! Meu nome é Isabela Almeida e preciso dizer que a Atlas GYM é simplesmente
            sensacional! Com suas aulas de Zumba super divertidas e envolventes, eu não só queimo calorias,
            mas também me divirto muito. Recomendo a todos que buscam uma forma diferente de se exercitar!
          </p>
          <i class='bx bxs-quote-alt-left quote-icon'></i>
          <div class="details">
            <span class="name">Isabela Almeida</span>
            <span class="job">Professora</span>
          </div>
        </div>

        <div class="slide swiper-slide">
          <img src="/img/landing/medico.jpg" alt="" class="image">
          <!-- estrelinhas -->
          <div class="rating">
            <input value="5" name="rating" id="star5" type="radio">
            <label for="star5"></label>
            <input value="4" name="rating" id="star4" type="radio">
            <label for="star4"></label>
            <input value="3" name="rating" id="star3" type="radio">
            <label for="star3"></label>
            <input value="2" name="rating" id="star2" type="radio">
            <label for="star2"></label>
            <input value="1" name="rating" id="star1" type="radio">
            <label for="star1"></label>
          </div>
          <!-- fim do código -->
          <p>Olá, pessoal! Aqui é o Gabriel Costa e estou empolgado para compartilhar como a Atlas GYM mudou
            minha perspectiva sobre exercícios cardiovasculares. Com sua piscina olímpica e aulas de natação
            de alta qualidade, eu descobri uma nova maneira de manter meu corpo saudável e em forma. Não
            poderia estar mais satisfeito com minha escolha de academia!</p>
          <i class='bx bxs-quote-alt-left quote-icon'></i>
          <div class="details">
            <span class="name">Gabriel Costa</span>
            <span class="job">Médico</span>
          </div>
        </div>


      </div>

    </div>




  </section>

  <!-- footer design -->
  <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy; 2024 by AtlasGYM | All Rights Reserved.</p>
    </div>

    <div class="footer-iconTop">
      <a href="#home"><i class='bx bxs-up-arrow-alt'></i></a>
    </div>
  </footer>

  <!-- scroll reveal -->
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

  <!-- typed js -->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

  <!-- Swiper JS -->
  <script src="/libs/swiper/swiper-bundle.min.js"></script>

  <!-- JAVSCRIPT -->
  <script src="/js/index.js"></script>

</body>

</html>